#  Secrets & environment
.env
*.env

#  Large offline speech recognition models
models/vosk-en/**
models/vosk-ru/**
models/**/*.zip

#  Saved lesson logs and outputs
outputs/
*.wav
*.pcm

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

#  Virtual environment folders
venv/
env/
ENV/

#  OS-generated temporary/system files
.DS_Store
Thumbs.db
desktop.ini
